.container{
   
    width: 300px;
    height: 400px;
    border-radius: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding:1rem;
    flex-direction: column;
   .userData{
    width: 100%;
    .avatar {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        height: 40%;
   }
   .content{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 60%;
   }
   span{
    margin-bottom:1rem;
    word-break: break-word;
   }
}