
.rootContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
   
}
 .select {
     width: 50%;
     height: 50px;
 }